body {
  font-size: 1.6rem;
  line-height: 1.5;
  background: #181818;
  display: block;
  min-width: 320px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  padding-left: 13rem;
}

.main-menu {
  width: 8rem;
  background-color: #181818;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  right: auto;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.main-menu__top {
  background: #181818;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.main-menu_nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #282828;
}

.main-menu_nav a {
  text-align: center;
  width: 100%;
  display: block;
  font-size: 1.6rem;
  color: #909096;
  line-height: 5rem;
  border-bottom: 1px solid #282828;
  -webkit-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

.social {
  color: #909096;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  height: 20rem;
}

.social li {
  text-align: center;
}

li {
  display: list-item;
}

.social svg {
  width: 1.5rem;
}

.logo img {
  width: 8rem;
  height: auto;
}

.main-div {
  background-image: url("html (1).png");
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  position: relative;
  left: -80px;
}

.text-block {
  position: relative;
  top: 176px;
  left: 110px;
}

h1 {
  font-size: 1.8rem;
  font-family: "Bree Serif", serif;
  line-height: 3rem;
}

p {
  font-size: 1rem;
  margin-top: 50px;
  letter-spacing: 4px;
  display: block;
  color: #8d8d8d;
}
