body {
  background-color: black;
  overflow: hidden;
}

.main-container {
  display: flex;
  margin: 0px;
  height: 100vh;
}

/* --------- Header Container ---------------- */

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

/* .header-photo {
} */

.header-text {
  text-align: center;
}

.header-text h1 {
  display: inline-block;
  text-align: left;
  margin-top: 0px;
}

.header-text p {
  text-align: left;
  color: white;
  margin-bottom: 0px;
  /* text-align: center; */
}

/* --------- main Nav ---------------- */

.main-nav {
  height: 60vh;
  display: flex;
  justify-content: space-between;
}

.about-container {
  flex: 2;
  border-radius: 40px;
  background-color: rgb(66, 41, 193);
  margin-bottom: 20px;
}

/* --------- First Column ---------------- */

.stack-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.FAQ-container {
  flex: 1;
  border-radius: 40px;
  background-color: aquamarine;
}

.stoof-container {
  flex: 1;
  border-radius: 40px;
  background-color: rgb(255, 185, 127);
}

/* --------- Second Column ---------------- */

.stack-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.resources-container {
  flex: 3;
  border-radius: 40px;
  background-color: rgb(255, 127, 246);
}

.socials-container {
  flex: 1;
  border-radius: 40px;
  background-color: rgb(255, 157, 127);
}

h1 {
  color: white;
}
